body {
  min-width: 1200px;
  padding: 0px;
  margin: 0px;
  font-size: 16px;
  line-height: 24px;
  font-weight: 400;
  color: #283136;
  font-family: "Roboto", "Arial", sans-serif;
}

a {
  text-decoration: none;
}

.main-navigation ul,
.container ul,
.footer-social ul {
  list-style: none;
}

.visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  clip: rect(0 0 0 0);
}

/*Текстовые стили*/

.slide-title {
  margin-bottom: 25px;
  font-size: 55px;
  line-height: 55px;
  font-weight: 500;
  color: #000;
}

.service-header {
  font-size: 24px;
  line-height: 30px;
  font-weight: 700;
  color: #000;
  text-transform: uppercase;
}

.tagline-us {
  font-size: 45px;
  line-height: 45px;
  font-weight: 500;
  color: #000;
  letter-spacing: 0.003em;
}

.about-us-tag {
  font-size: 16px;
  line-height: 24px;
  font-weight: 700;
  color: #000;
  text-transform: uppercase;
  letter-spacing: 0.006em
}

.row-percentages {
  font-size: 45px;
  line-height: 54px;
  font-weight: 700;
  color: #000;
}

.row-description {
  font-size: 16px;
  line-height: 18px;
}

.title-contacts {
  font-size: 18px;
  line-height: 30px;
  font-weight: 700;
  color: #000;
  text-transform: uppercase;
  display: block;
  margin-top: -8px;
  margin-left: 2px;
}

.contacts {
  font-size: 16px;
  line-height: 18px;
  color: #666;
}

.contacts p {
  display: block;
  margin-top: 23px;
  margin-left: 5px;
}
.contacts .tel{
  margin-top: 19px;
}
.tel {
  margin-bottom: 36px;
}

.address {
}

.tagline-friendship {
  font-size: 36px;
  line-height: 36px;
  font-weight: 700;
  color: #000;
  letter-spacing: 0.004em;
  display: block;
  margin-bottom: 8px;
}

.discount-discription {
  font-size: 16px;
  line-height: 22px;
  color: #444;
}

.write-us {
  font-size: 45px;
  line-height: 45px;
  font-weight: 500;
  color: #000;
  margin: 0;
  margin-bottom: 23px;
}

.text-feedback {
  font-size: 16px;
  line-height: 18px;
  font-weight: 700;
  color: #000;
}

.feedback-form input[placeholder],
.feedback-form textarea[placeholder] {
  font-size: 16px;
  line-height: 18px;
  color: #444;
  padding: 15px 14px;
  width: 100%;
  font: inherit;
}

.page-title {
  font-size: 55px;
  line-height: 55px;
  font-weight: 500;
  color: #000;
  text-align: center;
  padding-top: 40px;
}

.filter-price .filter-header {
  font-size: 18px;
  line-height: 30px;
  font-weight: 700;
  color: #000;
  text-transform: uppercase;
  margin-top: 0;
}

.filter-grid .filter-header {
  font-size: 18px;
  line-height: 30px;
  font-weight: 700;
  color: #000;
  text-transform: uppercase;
  margin-bottom: 
}

.filter-features .filter-header {
  font-size: 18px;
  line-height: 30px;
  font-weight: 700;
  color: #000;
  text-transform: uppercase;
  letter-spacing: 0.001em;
}

.from-to {
  font-size: 16px;
  line-height: 22px;
  text-transform: uppercase;
}

.grid-list label,
.features-list label {
  font-size: 16px;
  line-height: 20px;
}

.sorter-title {
  display: flex;
  width: 160px;
  margin: 0;
  font-size: 18px;
  line-height: 18px;
  font-weight: 700;
  color: #000;
  text-transform: uppercase;
  margin-right: 220px;
}

.sorting-item {
  margin-right: 25px;
  font-size: 14px;
  line-height: 18px;
  color: #000;
  text-transform: uppercase;
}

.block-info-title a {
  text-align: center;
  font-size: 18px;
  line-height: 30px;
  font-weight: 700;
  color: #000;
  text-transform: uppercase;
  display: block;
}

.info-site {
  font-size: 16px;
  line-height: 18px;
  color: #666;
  display: block;
  margin-bottom: 30px;
}

.btn-text {
  font-size: 16px;
  line-height: 18px;
  font-weight: 500;
  color: #fff;
  text-transform: uppercase;
  text-align: center;
  background-color: #fb565a;
  border: none;
}

/*Cетка*/

.main-header {
  background-color: #eeeeee;
  margin-bottom: 80px;
}

.container {
  width: 1160px;
  margin: 0 auto;
  padding-left: 20px;
  padding-right: 20px;
}

.main-header-logo {
  width: 160px;
  height: 68px;
  padding-top: 49px;
}

.main-navigation {
  display: flex;
  justify-content: space-between;
  margin-bottom: 16px;
}

.site-navigation,
.user-navigation {
  padding: 0;
  margin: 0;
  padding-top: 75px;
}

.site-navigation {
  display: flex;
  margin-left: 8px;
}

.site-navigation li{
  margin-right: 46px;
}

.user-navigation .cart-link {
  padding-left: 43px;
  position: relative;
}

.cart-link::before {
  content: "";
  width: 16px;
  height: 17px;
  position: absolute;
  background-image: url("../img/cart-icon.svg");
  background-repeat: no-repeat;
  background-position: 0 0;
  left: 2px;
  top: 2px;
}

.inner {
  display: flex;
  justify-content: space-between;
}

.services {
  margin-bottom: 40px;
  border-bottom: 2px solid #eeeeee;
  padding-bottom: 91px;
}

.services-list {
  width: 1100px;
  display: flex;
  justify-content: space-between;
  margin: 0;
  padding: 0;
}
.service-item:first-child p{
  letter-spacing: -0.006em;
}
.service-item:last-child p{
  letter-spacing: 0.005em;
}
.service-item h3 {
  margin: 0;
  margin-top: 20px;
  margin-bottom: 15px;
  width: 160px;
}

.service-item p {
  margin: 0;
  width: 260px;
  margin-bottom: 45px;
  letter-spacing: 0.019em;
}

.main-about-us {
  margin-bottom: 58px;
  display: flex;
}

.list-about-us {
  margin: 0;
  margin-left: -14px;
  position: relative;
}

.about-us-item {
  margin-top: 24px;
  padding-left: 11px;
}

.about-us-item::before {
  position: absolute;
  content: "";
  height: 2px;
  width: 25px;
  background-color: #fb565a;
  left: 15px;
  margin-top: 13px;
}

.about-us {
  width: 660px;
  margin-right: auto;
}

.advantages {
  width: 360px;
}

.about-us p {
  margin: 0;
  margin-top: 33px;
  margin-bottom: 37px;
  letter-spacing: 0.001em;
}

.percent {
  vertical-align: super;
  font-size: 25px;
}

.logo-advantages {
  width: 360px;
  height: 210px;
}

.advantages p {
  margin: 0px;
  margin-top: 28px;
  margin-bottom: 23px;
  margin-left: 16px;
}

.partners {
  width: 1161px;
  margin: 0 auto;
  padding-top: 50px;
  padding-bottom: 34px;
  border-top: 2px solid #eeeeee;
  border-bottom: 2px solid #eeeeee;
  margin-bottom: 80px;
}

.partners-items {
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin: 0 auto;
  padding: 0;
  margin: 0;
  width: 1160px;

  list-style: none;
}

.partners-items li {
  position: relative;
}

.partners-items a {
  margin-left: 30px;
  margin-right: 40px;
  opacity: 0.2;
}

.partners-items li:nth-child(2) {
  margin-right: 10px;
}

.partners-items li:nth-child(3) {
  margin-right: 16px;
  padding-right: 10px;
}

.partners-items li:nth-child(2)::before {
  content:"";
  width: 2px;
  height: 52px;

  position: absolute;
  left: -15px;
  top: 18px;

  background-color: #eeeeee;
}

.partners-items li:nth-child(2)::after {
  content:"";
  width: 2px;
  height: 52px;

  position: absolute;
  right: -8px;
  top: 18px;

  background-color: #eeeeee;
}

.partners-items li:nth-child(3)::after {
  content:"";
  width: 2px;
  height: 52px;

  position: absolute;
  right: -5px;

  background-color: #eeeeee;
}

.partners-items a:hover,
.partners-items a:focus {
  opacity: 1;
}

.partners-items a:active {
  opacity: 0.1;
}

.contacts-block {
  margin-top: 20px;
  margin-bottom: 45px;
  font-size: 16px;
  line-height: 18px;
  color: #666666;
}

.contacts {
  position: absolute;
  left: 50%;
  top: 55px;
  margin-left: -582px;
  width: 270px;
  height: 252px;
  padding-left: 49px;
  padding-top: 55px;

  background-color: white;
}

.marker-map {
  position: absolute;
  top: 88px;
  left: 775px;
}

.footer-social .container {
  display: flex;
  align-items: center;
}

.footer-social {
  margin-top: -15px;
}

.discount {
  width: 560px;
}

.header-catalog {
  min-height: 200px;
}

fieldset {
  border: none;
}

.filters {
  width: 260px;
}

.sorter-block {
  margin-left: 40px;
  margin-top: 19px;
  margin-bottom: 90px;
  width: 760px;
  display: flex;
  justify-content: space-between;
}

.sorting-list {
  display: flex;
  width: 300px;
  margin: 0;
  margin-top: 2px;
  padding: 0;
}

.sorter-block .item-current {
  opacity: 1;
}
.catalog{
  margin-bottom: 13px;
}
.catalog-list {
  position: relative;
  width: 760px;
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
  margin-bottom: -14px;
}

.catalog-list li {
  width: 360px;
}

.pagination-list {
  list-style: none;
  display: flex;
  width: 460px;
  justify-content: space-between;
  margin-bottom: 60px;
}

.pagination-list .pagination-item {
  margin-right: 11px;
}

.catalog-list {
  list-style: none;
}

/*Кнопки*/

.current-link {
  position: relative;
}

.current-link::after {
  content: "";
  position: absolute;
  left: 0;
  right: 0;
  bottom: 10px;
  height: 2px;
  background-color: #fb565a;
}

.site-navigation a,
.user-navigation a {
  font-size: 16px;
  line-height: 30px;
  font-weight: 500;
  color: #000;
  text-transform: uppercase;
}

.site-navigation a:hover,
.user-navigation a:hover,
.site-navigation a:focus,
.user-navigation a:focus {
  color: #fb565a;
}

.site-navigation a:active,
.user-navigation a:active {
  color: rgba(0, 0, 0, 0.3);
}

.btn-text:hover,
.btn-text:focus {
  background-color: #e74246;
}

.btn-text:active {
  background-color: #d7373b;
  color: rgba(255, 255, 255, 0.3);
}

.button-service-red {
  width: 160px;
  padding: 16px 40px;
  border-radius: 5px;
}

.button-service-green {
  width: 160px;
  padding: 16px 40px;
  border-radius: 5px;
  background-color: #00ca74;
}

.button-service-green:hover, 
.button-service-green:focus {
  background-color: #00bc6c;
}

.button-service-green:active {
  background-color: #00aa62;
}

.button-service-yellow {
  width: 160px;
  padding: 16px 40px;
  border-radius: 5px;
  background-color: #efc84a;
}

.button-service-yellow:hover, 
.button-service-yellow:focus {
  background-color: #eab534;
}

.button-service-yellow:active {
  background-color: #e5a722;
}

.button-write-us {
  padding-left: 2px;
  padding-top: 18px; 
  padding-bottom: 16px;
  width: 220px;
  border-radius: 5px;
  display: block;
  margin-top: 20px;
}

.btn-submit {
  width: 260px;
  padding: 16px 84px;
  border-radius: 5px;
}

.social-button {
  width: 80px;
  height: 80px;
  background-color: #e1e1e1;
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 50%;
}

.social-list {
  width: 260px;
  margin-right: 140px;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  padding: 0;
}

.social-button:hover,
.social-button:focus {
  background-color: #e74246;
}

.social-button:active {
  background-color: #d7373b;
}

.social-button:active path {
  opacity: 0.3;
}

.btn-text-inner {
  font-size: 16px;
  line-height: 18px;
  font-weight: 500;
  color: #000;
  text-transform: uppercase;
  text-align: center;
  border: none;
}

.filter-button {
  background-color: #eeeeee;
  padding: 16px 88px;
  border-radius: 5px;
}

.filter-button:hover {
  background-color: #dfdfdf;
}


.filter-button:active {
  background-color: #d5d5d5;
  opacity: 0.3;
}

.item-current a {
  background-color: #fff;
}

.pagination-button {
  border: 3px solid #eeeeee;
  background-color: #eeeeee;
  padding: 13px 17px;
}

.pagination-button-next {
  border: 3px solid #eeeeee;
  background-color: #eeeeee;
  padding: 13px 79px;
}

.pagination-button-next:hover {
  border-color: #dfdfdf;
  background-color: #dfdfdf;
}

.pagination-button-next:active {
  background-color: #d5d5d5;
  border-color: #d5d5d5;
  opacity: 0.3;
}

.pagination-button:hover {
  background-color: #dfdfdf;
  border-color: #dfdfdf;
}

.pagination-button:active {
  background-color: #d5d5d5;
  border-color: #d5d5d5;
  opacity: 0.3;
}

.sorter-block a {
  opacity: 0.3;
}

.sorter-block a:hover {
  opacity: 0.6;
}

.sorter-block a:active {
  opacity: 1;
}

.btn-buy {
  padding: 16px 30px;
  border-radius: 5px;
  display: block;
}



.btn-inner {
  background-color: #eeeeee;
}

.btn-inner:hover,
.btn-inner:focus {
  background-color:#dfdfdf;
}

.main-header-logo:hover,
.main-header-logo:focus {
  opacity: 0.8;
}

.main-header-logo:active {
  opacity: 0.3;
}

.partners-item a {
  opacity: 0.2;
}

.partners-item a:hover,
.partners-item a:focus {
  opacity: 1;
}

.partners-item a:active {
  opacity: 0.1;
}

.slider {
  position: relative;
  width: 1160px;
  height: 412px;
  margin: 0 auto;
}

.slider input[type=radio] {
  position: absolute;
  opacity: 0;
}

.slider-controls{
  position: absolute;
  bottom: 105px;
  left: 50%;
  width: 200px;
  height: 10px;
  margin-left: -100px;
  text-align: center;
  z-index: 1000;
}

.slider-controls label{
  display: inline-block;
  width: 12px;
  height: 12px;
  margin: 0 6px;
  background: white;
  border: 3px solid white;
  vertical-align: top;
  border-radius: 50%;
  cursor: pointer;
}

#btn-1:checked ~ .slider-controls label[for="btn-1"],
#btn-2:checked ~ .slider-controls label[for="btn-2"],
#btn-3:checked ~ .slider-controls label[for="btn-3"] { 
  background: #c1c1c1;
}

.slide{
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 430px;
  overflow: hidden;
}

.slide-text{
  width: 560px;
  padding: 30px 0;
  color: #283136;
}

.slide .btn{
  display: block;
  width: 240px;
  margin-top: 25px;
  border-radius: 5px;
  padding-top: 16px;
  padding-bottom: 16px;
}

.slide:nth-child(1){
  background-image: url("../img/nerds-index-slide1.png");
  background-repeat: no-repeat;
  background-position: 430px 0px;
}

.slide:nth-child(2){
  background-image: url("../img/nerds-index-slide2.png");
  background-repeat: no-repeat;
  background-position: 100% 10px;
}

.slide:nth-child(3){
  background-image: url("../img/nerds-index-slide3.png");
  background-repeat: no-repeat;
  background-position: 100% 0;
}

.slide{
  display: none;
}

#btn-1:checked ~ .slides .slide:nth-child(1) { 
  display: block;
}

#btn-2:checked ~ .slides .slide:nth-child(2) { 
  display: block;
}

#btn-3:checked ~ .slides .slide:nth-child(3) { 
  display: block;
}

.slide-text p {
  margin-bottom: 38px;
}

.slide-text .slide-title {
  margin-top: 30px;
}

.range-controls {
  position: relative;
  width: 220px;
  height: 41px;
  padding-top: 39px;
  padding-right: 20px;
  padding-left: 20px;
  margin-bottom: 15px;
  border-radius: 5px;
  background: #f1f1f1;
}

.range-controls .scale {
  height: 2px;
  background: #d7dcde;
}

.range-controls .bar {
  width: 70%;
  height: 2px;
  background: #00ca74;
}

.range-controls .toggle {
  position: absolute;
  top: 30px;
  left: 0px;
  width: 4px;
  height: 4px;
  cursor: pointer;
  border: 8px solid #fff;
  border-radius: 50%;
  background: #ababab;
  box-shadow: 0 2px 1px 0 #cfcfcf;
}

.range-controls .toggle-min {
  left: 18px;
}

.range-controls .toggle-max {
  left: 160px;
}

.price-controls {
  font-size: 16px;
  line-height: 22px;
  text-transform: uppercase;
}

.price-controls input {
  font-family: 'Roboto', 'Arial', sans-serif;
  font-size: 16px;
  line-height: 22px;
  width: 60px;
  margin-left: 12px;
  padding: 8px 10px;
  text-align: center;
  color: #283136;
  border: none;
  border-radius: 5px;
  background: #f1f1f1;
}

.min-price {
  margin-right: 25px;
}

.modal {
  position: relative;
  display: none;
  top: 20px;
  width: 870px;
  margin: 0 auto;
  padding-top: 65px;
  padding-bottom: 87px;
  padding-left: 100px;
  z-index: 2;
  background-color: #ffffff;
  box-shadow: 0 20px 40px rgba(0, 0, 0, 0.7);
}

.modal-contact-us {
  display: flex;
  flex-direction: column;
  margin: 0;
}

.modal h2 {
  margin: 0;
  margin-bottom: 22px;
  color: #000;
  font-size: 45px;
  line-height: 45px;
  font-weight: 500;
}

.modal-contact-us label {
  font-size: 16px;
  line-height: 18px;
  font-weight: bold;
  color: #000;
}

.modal-contact-us input[type="text"],
.modal-contact-us input[type="email"] {
  box-sizing: border-box;
  margin-top: 8px;

  border-radius: 3px;

  font: inherit;
  background-color: #ffffff;
  border: 2px solid #d7dcde;
}

.modal-contact-us input:hover,
.modal-contact-us textarea:hover {
  border-color: #b4b9bb;
}

.modal-contact-us input:focus,
.modal-contact-us textarea:focus {
  border-color: #000000;
}

.button-close {
  position: absolute;
  top: 75px;
  right: 95px;
  width: 24px;
  height: 24px;
  background-image: url("../img/close-cross.svg");
  background-repeat: no-repeat;
  background-color: #ffffff;
  font-weight: 500;
  font-size: 0;
  border: none;
  opacity: 0.3;
  cursor: pointer;
}

.button-close:hover {
  opacity: 1;
}

.button-close:active {
  opacity: 0.1;
}

.modal-contact-us .name {
  margin: 0;
  margin-right: 40px;
  padding: 0;
}

.login input[type="text"],
.login input[type="email"] {
  box-sizing: border-box;
  width: 360px;
  padding: 10px 14px;
  font-weight: 400;
  font: inherit;
  color: #444444;
}

.login p {
  display: block;
  width: 400px;
}

.send p {
  display: block;
  width: 760px;
}

.send textarea {
  margin-top: 8px;
  box-sizing: border-box;
  width: 760px;
  padding: 7px 14px;
  padding-bottom: 78px;
  font: inherit;
  color: #444444;
  border-radius: 3px;
  background-color: #ffffff;
  border: 2px solid #d7dcde;
}

.modal-contact-us .login {
  display: flex;
}

.modal-contacts-us .send {
  display: flex;
  flex-direction: column;
}

.send .button {
  margin-top: 50px;
  width: 260px;
  border: none;
}

.modal-contact-us:invalid {
  color: #e74246;
  border-color: #e74246;
}

.button {
  display: block;
  padding: 13px 0;
  width: 160px;
  text-align:center;
  border-radius:3px;
  color: #ffffff;
  text-align: center;
  text-decoration: none;
  text-transform:uppercase;
  font-weight: 500;
  background-color: #fb565a;
}

.table-advantages{
  margin-left: -2px;
}
.table-advantages td {
  padding-bottom: 14px;
}

.table-advantages td:nth-child(2) {
  padding-left: 15px;
}

.table-advantages td:nth-child(2) {
  padding-right: 21px;
}

.footer-contacts {
  position: relative;
  width: 100%;
  height: 416px;
  height: 416px;
  margin: 0 auto;
  margin-bottom: 69px;
  background-image: url("../img/map.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  background-color: #e9e5dc;
}

.main-header-catalog {
  background-color: #eeeeee;
  margin-bottom: 40px;
}

.filter-price {
  padding: 0;
  margin-bottom: 19px;
}

legend{
  padding-top: 16px;
  margin-left: -2px;
  letter-spacing: 0.04em;
}

.filter-price legend {
  margin-bottom: 30px;
}

.filter-grid {
  padding: 0px;
  margin: 0px;
  margin-left: 1px;
}

.filter-features {
  padding: 0px;
  margin: 0px;
  margin-bottom: 30px;
}

.filter-features legend {
  padding-top: 4px;
}


.grid-list {
  padding: 0;
  margin: 0;
  padding-left: 20px;
  position: relative;
  list-style: none;
}

.features-list {
  list-style: none;
  padding: 0;
  margin: 0;
  padding-left: 20px;
  position: relative;
}

.grid-list li {
  margin-bottom: 20px;
  line-height: 20px;
}

.features-list li {
  margin-bottom: 20px;
  line-height: 20px;
}

.container-catalog {
  display: flex;
  justify-content: space-between;
  width: 1160px;
  margin: 0 auto;
  padding-left: 20px;
  padding-right: 20px;
}

.block-info {
  min-height: 230px;
  widows: 360px;
  background-color: #eeeeee;
  padding: 42px 0;
  text-align: center;
}

.block-info-wrapper {
  width: 200px;
  margin: 0 auto;
}

.hidden {
  display: none;
}

.catalog-list-item {
  margin-bottom: 66px;
}

.arrow-list a {
  display: inline-block;
}
.arrow-list li:first-child{
  margin-right: 18px;
}

.arrow-list {
  display: flex;
  padding: 0;
  margin: 0;
  list-style: none;
}





















