body {
  min-width: 1200px;
  padding: 0px;
  margin: 0px;
  font-size: 16px;
  line-height: 24px;
  font-weight: 400;
  color: #283136;
  font-family: "Roboto", "Arial", sans-serif;
}

a {
  text-decoration: none;
}

img {
  max-width: 100%;
  height: auto;
}

.main-navigation ul,
.container ul,
.footer-social ul {
  list-style: none;
}

.visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  clip: rect(0 0 0 0);
}

/*Текстовые стили*/

.slide-title {
  margin-bottom: 25px;
  font-size: 55px;
  line-height: 55px;
  font-weight: 500;
  color: #000;
}

.service-header {
  font-size: 24px;
  line-height: 30px;
  font-weight: 700;
  color: #000;
  text-transform: uppercase;
}

.tagline-us {
  font-size: 45px;
  line-height: 45px;
  font-weight: 500;
  color: #000;
}

.about-us-tag {
  font-size: 16px;
  line-height: 24px;
  font-weight: 700;
  color: #000;
  text-transform: uppercase;
}

.row-percentages {
  font-size: 45px;
  line-height: 54px;
  font-weight: 700;
  color: #000;
}

.row-description {
  font-size: 16px;
  line-height: 18px;
}

.title-contacts {
  font-size: 18px;
  line-height: 30px;
  font-weight: 700;
  color: #000;
  text-transform: uppercase;
}

.contacts {
  font-size: 16px;
  line-height: 18px;
  color: #666;
  margin: 0;
}

.tagline-friendship {
  font-size: 36px;
  line-height: 36px;
  font-weight: 700;
  color: #000;
}

.discount-discription {
  font-size: 16px;
  line-height: 22px;
  color: #444;
}

.write-us {
  font-size: 45px;
  line-height: 45px;
  font-weight: 500;
  color: #000;
}

.text-feedback {
  font-size: 16px;
  line-height: 18px;
  font-weight: 700;
  color: #000;
}

.feedback-form input[placeholder],
.feedback-form textarea[placeholder] {
  font-size: 16px;
  line-height: 18px;
  color: #444;
  padding: 15px 14px;
  width: 100%;
  font: inherit;
}

.page-title {
  font-size: 55px;
  line-height: 55px;
  font-weight: 500;
  color: #000;
  text-align: center;
}

.filter-header {
  font-size: 18px;
  line-height: 30px;
  font-weight: 700;
  color: #000;
  text-transform: uppercase;
}

.from-to {
  font-size: 16px;
  line-height: 22px;
  text-transform: uppercase;
}

.grid-list label,
.features-list label {
  font-size: 16px;
  line-height: 20px;
}

.sorter-title {
  font-size: 18px;
  line-height: 18px;
  font-weight: 700;
  color: #000;
  text-transform: uppercase;
}

.sorting-item a {
  font-size: 14px;
  line-height: 18px;
  color: #000;
  text-transform: uppercase;
}

.block-info-title a {
  font-size: 18px;
  line-height: 30px;
  font-weight: 700;
  color: #000;
  text-transform: uppercase;
}

.info-site {
  font-size: 16px;
  line-height: 18px;
  color: #666;
}

.btn-text {
  font-size: 16px;
  line-height: 18px;
  font-weight: 500;
  color: #fff;
  text-transform: uppercase;
  text-align: center;
  background-color: #fb565a;
  border: none;
}

/*Cетка*/

.main-header {
  background-color: #eeeeee;
  margin-bottom: 80px;
}

.container {
  width: 1160px;
  margin: 0 auto;
  padding-left: 20px;
  padding-right: 20px;
}

.main-header-logo {
  width: 160px;
  height: 68px;
  padding-top: 49px;
}

.main-navigation {
  display: flex;
  justify-content: space-between;
  margin-bottom: 46px;
}

.site-navigation,
.user-navigation {
  padding: 0;
  margin: 0;
  padding-top: 75px;
}

.site-navigation {
  display: flex;
  
}

.site-navigation li{
  margin-right: 46px;
}


.user-navigation .cart-link {
  padding-left: 43px;
  position: relative;
}

.cart-link::before {
  content: "";
  width: 16px;
  height: 17px;
  position: absolute;
  background-image: url("../img/cart-icon.svg");
  background-repeat: no-repeat;
  background-position: 0 0;
  left: 2px;
  top: 2px;
}

.inner {
  display: flex;
}

.services {
  margin-bottom: 40px;
  border-bottom: 2px solid #eeeeee;
  padding-bottom: 91px;
}

.services-list {
  width: 1100px;
  display: flex;
  justify-content: space-between;
  margin: 0;
  padding: 0;
}

.service-item h3 {
  margin: 0;
  margin-top: 20px;
  margin-bottom: 15px;
  width: 160px;
}

.service-item p {
  margin: 0;
  width: 260px;
  margin-bottom: 45px;
}

.main-about-us {
  margin-bottom: 80px;
  display: flex;
  justify-content: space-between;
}

.list-about-us {
  margin: 0;
  margin-left: -14px;
  position: relative;
}

.about-us-item {
  margin-top: 24px;
  padding-left: 11px;
}

.about-us-item::before {
  position: absolute;
  content: "";
  height: 2px;
  width: 25px;
  background-color: #fb565a;
  left: 15px;
  margin-top: 13px;

}

.about-us {
  width: 660px;
}

.advantages {
  width: 360px;
}

.about-us p {
  margin: 0;
  margin-top: 33px;
  margin-bottom: 36px;
}

.percent {
  vertical-align: super;
  font-size: 25px;
}

.logo-advantages {
  width: 360px;
  height: 210px;
}

.advantages p {
  margin: 0px;
  margin-top: 30px;
  margin-bottom: 22px;
  margin-left: 15px;
}

.partners {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 45px 30px;
  margin-bottom: 81px;
  border-bottom: 2px solid #eeeeee;
  border-top: 2px solid #eeeeee;
}

.partners-item {
  width: 260px;
}

.contacts-block {
  margin-top: 20px;
  margin-bottom: 45px;
  font-size: 16px;
  line-height: 18px;
  color: #666666;
}

.tel {
  margin-top: 18px;
}

.footer-contacts {
  margin-bottom: 69px;
  position: relative;
}

.contacts {
  position: absolute;
  background-color: #fff;
  top: 54px;
  left: 120px;
  max-width: 320px;
  padding: 50px;
}

.marker-map {
  position: absolute;
  top: 60px;
  left: 770px;
}

.footer-social .container {
  display: flex;
  justify-content: space-between;
}

.discount {
  width: 560px;
}

.header-catalog {
  min-height: 164px;
}

fieldset {
  border: none;
}

.filters {
  width: 260px;
  margin-right: 140px;
}


.inner .sorter-block {
  display: flex;
  justify-content: space-between;
}

.sorting-list {
  display: flex;
  justify-content: space-between;
  width: 280px;
}

.arrow-list {
  display: flex;
  width: 42px;
  justify-content: space-between;
}

.sorter-block .item-current {
  opacity: 1;
}

.catalog-list {
  position: relative;
  width: 760px;
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
  margin-bottom: 60px;
}

.catalog-list li {
  width: 360px;
}

.pagination-list {
  display: flex;
  width: 460px;
  justify-content: space-between;
  margin-bottom: 60px;
}


.pagination-list .pagination-item {
  margin-right: 11px;
}

/*Кнопки*/

.current-link {
  position: relative;
}

.current-link::after {
  content: "";
  position: absolute;
  left: 0;
  right: 0;
  bottom: 10px;
  height: 2px;
  background-color: #fb565a;
}

.site-navigation a,
.user-navigation a {
  font-size: 16px;
  line-height: 30px;
  font-weight: 500;
  color: #000;
  text-transform: uppercase;
}

.site-navigation a:hover,
.user-navigation a:hover,
.site-navigation a:focus,
.user-navigation a:focus {
  color: #fb565a;
}

.site-navigation a:active,
.user-navigation a:active {
  color: rgba(0, 0, 0, 0.3);
}

.btn-text:hover,
.btn-text:focus {
  background-color: #e74246;
}

.btn-text:active {
  background-color: #d7373b;
  color: rgba(255, 255, 255, 0.3);
}

.button-service-red {
  width: 160px;
  padding: 16px 40px;
  border-radius: 2px;
}

.button-service-green {
  width: 160px;
  padding: 16px 40px;
  border-radius: 2px;
  background-color: #00ca74;
}

.button-service-green:hover, 
.button-service-green:focus {
  background-color: #00bc6c;
}

.button-service-green:active {
  background-color: #00aa62;
}

.button-service-yellow {
  width: 160px;
  padding: 16px 40px;
  border-radius: 2px;
  background-color: #efc84a;
}

.button-service-yellow:hover, 
.button-service-yellow:focus {
  background-color: #eab534;
}

.button-service-yellow:active {
  background-color: #e5a722;
}

.button-write-us {
  padding: 16px 45px;
  width: 220px;
  border-radius: 3px;
}

.btn-submit {
  width: 260px;
  padding: 16px 84px;
  border-radius: 2px;
}

.social-button {
  width: 80px;
  height: 80px;
  background-color: #e1e1e1;
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 50%;
}

.social-list {
  width: 260px;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  padding: 0;
}

.social-button:hover,
.social-button:focus {
  background-color: #e74246;
}

.social-button:active {
  background-color: #d7373b;
}

.social-button:active path {
  opacity: 0.3;
}

.btn-text-inner {
  font-size: 16px;
  line-height: 18px;
  font-weight: 500;
  color: #000;
  text-transform: uppercase;
  text-align: center;
  border: none;
}

.filter-button {
  background-color: #eeeeee;
  padding: 16px 89px;
  border-radius: 1px;
}

.filter-button:hover {
  background-color: #dfdfdf;
}


.filter-button:active {
  background-color: #d5d5d5;
  opacity: 0.3;
}

.item-current a {
  background-color: #fff;
}

.pagination-button {
  border: 3px solid #eeeeee;
  background-color: #eeeeee;
  padding: 13px 18px;
}

.pagination-button-next {
  border: 3px solid #eeeeee;
  background-color: #eeeeee;
  padding: 13px 76px;
}

.pagination-button-next:hover {
  border-color: #dfdfdf;
  background-color: #dfdfdf;
}

.pagination-button-next:active {
  background-color: #d5d5d5;
  border-color: #d5d5d5;
  opacity: 0.3;
}

.pagination-button:hover {
  background-color: #dfdfdf;
  border-color: #dfdfdf;
}

.pagination-button:active {
  background-color: #d5d5d5;
  border-color: #d5d5d5;
  opacity: 0.3;
}

.sorter-block a {
  opacity: 0.3;
}

.sorter-block a:hover {
  opacity: 0.6;
}

.sorter-block a:active {
  opacity: 1;
}

.btn-buy {
  padding: 16px 62px;
  border-radius: 2px;
}

.grid-list li {
  margin-bottom: 10px;
}

.grid-list label {
  position: relative;
}

.grid-list label::before {
  content: "";
  position: absolute;
  left: -35px;
  width: 25px;
  height: 25px;
  background: url("../img/radio-off.svg");
  background-repeat: no-repeat;
  cursor: pointer;
}

.grid-list label::before ~checked {
  content: "";
  position: absolute;
  left: -35px;
  width: 25px;
  height: 25px;
  background: url("../img/radio-on.svg");
  background-repeat: no-repeat;
  cursor: pointer;
}

.btn-inner {
  background-color: #eeeeee;
}

.btn-inner:hover,
.btn-inner:focus {
  background-color:#dfdfdf;
}

.main-header-logo:hover,
.main-header-logo:focus {
  opacity: 0.8;
}

.main-header-logo:active {
  opacity: 0.3;
}

.partners-item a {
  opacity: 0.2;
}

.partners-item a:hover,
.partners-item a:focus {
  opacity: 1;
}

.partners-item a:active {
  opacity: 0.1;
}

.slider {
  position: relative;
  width: 1160px;
  height: 382px;
  margin: 0 auto;
}

.slider input[type=radio] {
  position: absolute;
  opacity: 0;

}

.slider-controls{
  position: absolute;
  bottom: 95px;
  left: 50%;
  width: 200px;
  height: 10px;
  margin-left: -100px;
  text-align: center;
  z-index: 1000;
}

.slider-controls label{
  display: inline-block;
  width: 4px;
  height: 4px;
  margin: 0 3px;
  background: white;
  border: 3px solid white;
  vertical-align: top;
  border-radius: 50%;
  cursor: pointer;
}

#btn-1:checked ~ .slider-controls label[for="btn-1"],
#btn-2:checked ~ .slider-controls label[for="btn-2"],
#btn-3:checked ~ .slider-controls label[for="btn-3"] { 
  background: #c1c1c1;
}

.slide{
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  overflow: hidden;
}

.slide-text{
  width: 560px;
  padding: 30px 0;
  color: #283136;
}

.slide .btn{
  display: block;
  width: 240px;
  margin-top:25px;
  border-radius: 2px;
  padding-top: 16px;
  padding-bottom: 16px;
}

.slide:nth-child(1){
  background-image: url("../img/nerds-index-slide1.png");
  background-repeat: no-repeat;
  background-position: 100% 10px;
}

.slide:nth-child(2){
  background-image: url("../img/nerds-index-slide2.png");
  background-repeat: no-repeat;
  background-position: 100% 10px;
}

.slide:nth-child(3){
  background-image: url("../img/nerds-index-slide3.png");
  background-repeat: no-repeat;
  background-position: 100% 0;
}

.slide{
  display: none;
}

#btn-1:checked ~ .slides .slide:nth-child(1) { 
  display: block;
}

#btn-2:checked ~ .slides .slide:nth-child(2) { 
  display: block;
}

#btn-3:checked ~ .slides .slide:nth-child(3) { 
  display: block;
}

.slide-text p {
  margin-bottom: 38px;
}

.range-filter {
  max-width: 260px;
}

.min-price {
  margin-right: 28px;
}

.range-controls {
  position: relative;
  width: 220px;
  height: 41px;
  padding-top: 39px;
  padding-right: 20px;
  padding-left: 20px;
  margin-bottom: 15px;
  border-radius: 5px;
  background: #f1f1f1;
}

.range-controls .scale {
  height: 2px;
  background: #d7dcde;
}

.range-controls .bar {
  width: 70%;
  height: 2px;
  background: #00ca74;
}

.range-controls .toggle {
  position: absolute;
  top: 30px;
  left: 0px;
  width: 4px;
  height: 4px;
  cursor: pointer;
  border: 8px solid #fff;
  border-radius: 50%;
  background: #ababab;
  box-shadow: 0 2px 1px 0 #cfcfcf;
}

.range-controls .toggle-min {
  left: 18px;
}

.range-controls .toggle-max {
  left: 160px;
}

.price-controls {
  font-size: 0;
}

.price-controls label {
  font-size: 16px;
  line-height: 22px;
  display: inline-block;
  text-transform: uppercase;
}

.max-price {
  text-align: right;
}

.price-controls input {
  font-family: 'Roboto', 'Arial', sans-serif;
  font-size: 16px;
  line-height: 22px;
  width: 60px;
  margin-left: 10px;
  padding: 8px 10px;
  text-align: center;
  color: #283136;
  border: none;
  border-radius: 5px;
  background: #f1f1f1;
}
.modal-feedback {
  width: 760px;
  height: 590px;
  outline: 1px solid green;
  padding-top: 68px;
  padding-bottom: 84px;
  padding-left: 100px;
  padding-right: 100px;
  margin: 0 auto;
}

.modal-close:hover {
  opacity: 1;
}

.modal-close:active {
  opacity: 0.1;
}

.feedback-form input,
.feedback-form textarea {
  border: 2px solid #d7dcde;
  outline: none;
}

.feedback-form input:hover,
.feedback-form textarea:hover {
  border-color: #b4b9bb;
}

.feedback-form input:focus,
.feedback-form textarea:focus {
  border-color: #000;
}

.feedback-form input:invalid,
.feedback-form textarea:invalid {
  border-color: #e74246;
  color: #e74246;
}
















